*{
	margin:0;
	padding: 0;
}
body {
	background:  #d2a679;
}
#header {
	background: #d2a679;
	min-height: 70px;
	overflow: hidden;
	border:2px #ccddff solid;
}
#meni {
	margin-top: 15px;

}
h1 {
	position:absolute;
	right:0%;
	margin:0;
	
}
#logo{
	max-width:4%;
	max-height:4%;
}

 ul {
	list-style-type: none;
	overflow: hidden;
    
}
#meni li {
	display: inline;
	padding: 0 10px 0 10px;
}
#meni a {
	color:#734d26;
}

#meni a:hover {
	color: #00802b;
}
h2 {
	position: relative;
	left:30%;
	margin-top: 20px;
}

#footer {
	clear: both;
	background:#d2a679;
	overflow: hidden;
	padding:10px;
	border:2px #ccddff solid;
}
#glavniSadrzaj {
	background-color:  #ccddff;
	width:85%;
	margin: 0 auto;
	
}

#glavniSadrzaj form {
	border:1px  #ffd9b3 solid;
	margin-top: 0.5%;
	margin-bottom: 0.1%;
	margin-left:10%;
	margin-right:10%;
	padding-left: 8%;
	background: #ffd9b3;
	box-shadow: 5px 5px 15px #7a7a52;
	overflow: hidden;
	}
 #paragraf {
	 border:1px black solid;
	 width:20%;
	 height:80px;
	 padding:15px;
	 margin-bottom: 2%;
	 overflow: hidden;
 }
 #dugme1 {
	 position:relative;
	 left:50%;
	 height:30px;
	 width:60px;
 }

 #dugme2 {
	 position:relative;
	 left:40%;
	 height:30px;
	 width:60px;
 }
   #glavniSadrzaj h3 {
   	margin-top: 10px;
   }
	@media (max-width: 600px) {
		#meni li,#meni ul,h1{
			float:none;
			text-align:center;
			width:100%;
		}
		#meni li {
			display: block;
		}
		#meni {
			margin-top: 0;
			margin-bottom: 40px;
		}
		h1 {
			margin-bottom: 0px;
			margin-top:160px;
			padding-top: 5px;
		}
    
	#glavniSadrzaj {
		width:100%;
	}
}



























