*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #ffd9b3;
}
#header {
	background: #d2a679;
	min-height: 70px;
	overflow: hidden;
}
#meni {
	margin-top: 15px;

}
h1 {
	position:absolute;
	right:0%;
	margin:0;
	
}
#logo{
	max-width:4%;
	max-height:4%;
}

 ul {
	list-style-type: none;
	overflow: hidden;
    
}
#meni li {
	display: inline;
	padding: 0 10px 0 10px;
}
#meni a {
	color:#734d26;
}

#meni a:hover {
	color: #00802b;
}
h2 {
	position: relative;
	left:30%;
	margin-top: 20px;
}

#footer {
	clear: both;
	background:#d2a679;
	overflow: hidden;
	padding:10px;
}
#glavniSadrzaj {
	background-color: #ccddff;
	width:85%;
	height:500px;
	margin: 0 auto;
}

#glavniSadrzaj form {
	border:1px  #ffd9b3 solid;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left:10%;
	margin-right:10%;
	padding-left: 8%;
	background: #ffd9b3;
	box-shadow: 5px 5px 15px #7a7a52;
	overflow: hidden;
    
}

input[type=submit] {
	position:relative;
	left:80%;
	top:5%;
	width:10%;
	height: 30px;
}

@media (max-width: 600px) {
	#meni li,#meni ul,h1{
		float:none;
		text-align:center;
		width:100%;
	}
	#meni li {
		display: block;
	}
	#meni {
		margin-top: 0;
		margin-bottom: 40px;
	}
	h1 {
		margin-bottom: 0px;
		margin-top:160px;
		padding-top: 5px;
	}
     input[type=submit] {
		 width:20%;
		 position:relative;
		 left:70%;
	 } 
	#glavniSadrzaj {
		width:100%;
	}
}


