* {
	margin:0;
	padding: 0;
}


body {
	background-color:  #ffcc99;
}
#login{
	height: 150px;
    width: 260px;
    padding: 40px;
	position:absolute;
	top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    margin: auto;
    right: 0;
	bottom: 0;
	background-color: #ffa64d;
}

.forma:not(:last-child){
	position: relative;
	margin-bottom: 20px;
}

.forma label{
	position: relative;
	margin-right: 2px;
}

.pomjeri{
	margin-top: auto;
    text-align: right;
    margin-right: 20px;
}
.dugme{
	width:100px;
}